<h1><%= t('helpers.titles.edit', model: Project Phase.model_name.human ) %></h1>

<%= render 'form' %>

<%= link_to t('helpers.links.show'), @project_phase %> |
<%= link_to t('helpers.links.back'), project_phases_path %>